@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

:root {
    
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #FFF;
    --nav-bg-color: #0561BA;
    --nav-bottom-bg-color: #5E94D1;
    --login-btn-bg-color: #0561BA;
    --login-btn-hover-bg-color: #5E94D1;
    --signout-btn-bg-color: #5E94D1;
    --bg-color: #E6F2FE;
}

body {
    background: -webkit-linear-gradient(right, #52b8a2, #6fa8c2);
    background: -moz-linear-gradient(right, #52b8a2, #6fa8c2);
    background: -o-linear-gradient(right, #52b8a2, #6fa8c2);
    background: linear-gradient(to left, #52b8a2, #6fa8c2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .navbar {
    background: var(--nav-bg-color);
    height: 10vh;
    border-bottom: solid 6px var(--nav-bottom-bg-color);
}

body .navbar a {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    color: white;
    font-size: 40px;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

body .login-container {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

body .login-container .form-container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body .login-container .form-container .welcome-message {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

body .login-container .form-container .input-form {
    position: relative;
    width: 90%;
    margin: 15px auto;
}

body .login-container .form-container .input-form span {
    position: absolute;
    display: block;
    color: darken(#EDEDED, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
}

body .login-container .form-container .input-form input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
}

body .login-container .form-container .input-form input:focus {
    padding: 10px 5px 10px 10px;
    outline: 0;
    border-color: #FF7052;
}



body .login-container .form-container input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

body .login-container .form-container button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--login-btn-bg-color);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

body .login-container .form-container button:hover,
body .login-container .form-container button:active,
body .login-container .form-container button:focus {
    background: var(--login-btn-hover-bg-color);
}

body .login-container .form-container .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

body .login-container .form-container .message a {
    color: #4CAF50;
    text-decoration: none;
}
